
*{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-decoration: none;
}

body{
    font-family: sans-serif;   
}


nav{
    height: 80px;
    width: 100%;
    background: #FFBF00;
}

nav label a:first-of-type{
    font-size: 35px;
    color: #fff;
    font-weight: bold;
    line-height: 80px;
    text-transform:none;
    padding-left:100px;
    border:none;
}

nav ul{
    float: right;
    margin-right: 40px;
}

nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a{
    color:#8f746c;
    font-size: 18px;
    text-transform:uppercase;
    border:1px, solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

a.active,a:hover{
    border: 2px solid #fff;
    transition: 0.9s;
    border:#8f746c; 
    color:#fff;
}

      
nav i{
    color:#fff;

}
nav .icon{
    font-size:30px;
    line-height:80px;
    float:right;
    margin-right: 40px;
    cursor: pointer;
    display:none;
}


@media (max-width:1048px){
    nav label a:first-of-type{
        font-size:32px;
        padding-left:60px
    }
    nav ul{
        margin-right:20px;
    }
    nav a{
        font-size:17px;
    }
}

@media (max-width: 800px){
    nav .icon {
        display: block;
    }
      nav i{
        display:block;
    }
  
    nav ul {
        position:fixed;
        width:100%;
        height:100vh;
        background:#2f3640;
        top:80px;
        left:100%;
        text-align:center;
        transition:all.5s;
    }
    nav li{
        display:block;
        margin:50px 0;
        line-height:30px;
    }
    nav a{
        font-size:20px;
    }
    a.active,a:hover{
        border:none;
        color:#3498db;
        background:none;
    }
    nav ul .show{
        left:0;
    }
}
section{
    background-image:url(theme.jpg);
    background-size:cover;
    height:calc(100vh - 80px);
}

