.style-switcher{
    position: fixed;
    top: 60px;
    right:0px;
    padding: 15px;
    width: 200px;
    border: 1px solid var(--bg-black-50);
    background: var(--bg-black-900);
    z-index: 101;
    border-radius: 5px;
    transition: all 0.5s ease;
    transform: translateX(100%);
}

.style-switcher.open{
    transform: translateY(-45px);
}

.style-switcher .s-icon{
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    background: var(--bg-black-900);
    color: var(--text-black-900);
    right: 100%;
    border: 1px solid var(--bg-black-50);
    margin-right: 25px;
    cursor: pointer;
    transition: all.0.5s ease;
    border-radius: 50%;

}

.style-switcher .s-icon i{
    line-height: 40px;
}

.style-switcher .style-switcher-toggler{
    top: 0;
}

.style-switcher .day-night{
    top: 55px;
}

.style-switcher h4{
    margin: 0 0 10px;
    color: var(--text-black-900);
}

.style-switcher .colors{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
}

.style-switcher .colors span{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid red;
}

.style-switcher .colors .color-1{
    background: #ee1839;
}

.style-switcher .colors .color-2{
    background: #fa5b0f;
}

.style-switcher .colors .color-3{
    background: #37b182;
}

.style-switcher .colors .color-4{
    background: #1854b4;
}

.style-switcher .colors .color-5{
    background: #f021b2;
}