body{ 
    margin:0;
    height: 100vh;
    font-size:18px;
   
}


.container{
    width:200px;
    max-width:200px;
    margin:1rem;
    padding:2rem;
    box-shadow:0 0 40px rgba(0, 0, 0, 0.2);
    border-radius:20px;
    background:#000;
    opacity:0.9;
    bottom: 100px;
    float:right;
    
}

.form--hidden{
    display:none;
}

nav{
    margin-top:0px;
    padding::0px;
    background:#ffbf00;
}

nav.home{
    font-family: sans-serif;
    font-size:32px;
    text-decoration: none;
    text-transform: capitalize;
}



.container,
.form__input,
.form__button{
    font-family:sans-serif;
    font-weight: 500;
    
}

.form__title{
    text-align:center;
    margin-bottom:2rem;
    background:#ffbf00;
    color:#fff;
    border-radius:20px;
    font-size: 24px;
    
}

.form > *:first-of-child{
    margin-top:0;
}

.form > *:last-of-child{
    margin-bottom:0px;
}

.form__message{
    text-align:center;
    margin-bottom:1rem;
}

.form__message--success{
    color:#466544;
}

.form__message--error{
    color:#cc3333;
}

.form__input-group{
    margin-bottom:1rem;
    
}

.form__input{
    display:block;
    width:100%;
    padding:0.75rem;
    box-sizing:border-box;
    border-radius:4px;
    border:1px solid #dddddd;
    outline:none;
    background:#eeeeee;
    transition:background 0.2s;
    transition:border 0.2s;
    
}

.form__input:focus{
    border:1px solid #009579;
    background:#fff;
    
}

.form__input--error{
    border:1px solid #cc3333;
    color:#cc3333;
    
}


.form__input-error-message{
    margin-top:1rem;
    font-size:0.95rem;
    color:#cc3333;
    text-align: center;
}

.form__button{
    width:100%;
    padding:1rem 2rem;
    font-weight:bold;
    background:#009579;
    font-size:1.1rem;
    color:#fff;
    outline:none;
    cursor:pointer;
    border:none;
    border-radius:20px;    
}

.form__button:hover{
    background:#fff;
    color:#009579;
}

.form__button:active{
    transform:scale(0.90);   
}

.form__text{
    text-align:center;
}

.form__link{
    color:#009579;
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover{
    text-decoration: underline;
}








