body{
    background: #951c49;
}

/*nav-bar*/

#header-nav{
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
   
}

.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}
.navbar-header{
    width: 100%;
}

.navbar-brand a {
    text-decoration:none;
}
.navbar-brand h1{
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 10px;
    line-height: 0.75;
    text-decoration: 0px;
}

.navbar-brand p{
    color: #000;
    text-transform: uppercase;
    font-size: 0.7em;
    margin-top: 5px;
    text-decoration: none;
}


#nav-list {
    background-color: #f6b319;
    list-style-type: none;
}

#nav-list a{
    color: #951c49;
    text-align:center;
    border: 1px solid transparent;
    margin: 10px 10px;
    padding: 10px;
    line-height: 0.75;
    border-radius: 5px;
}

#nav-list a:hover{
    background:#951c49;
    color:#f6b319;
}  

#navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border: 1px solid #61122f;
   
}

#navbar-header button.navbar-toggle{
    clear: both;
    top: 30px;
}

#call-btn>a{
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 100px;
    background-color: #f6b319;
    color: #951c49;
    transition: all 0.5s ease;
}

#call-btn>a:hover{
    background-color:#951c49;
    color:#f6b319 ;
}

#xs-deliver{
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

/*main-content*/
#main-tile, #specials-tile, #map-tile {
    overflow: hidden;
    width: 100%;
    position: relative;
    border: 2px solid #fff;
    height: 250px;
}

#main-tile{
    background: url(css/main.png) no-repeat;
}

#specials-tile{
    background: url(css/special.png) no-repeat;
}
#main-tile:hover, #specials-tile:hover, #map-tile:hover{
    box-shadow: 1px 1px 1px #222;
}

#main-tile span, #specials-tile span, #map-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    width: 100%;
    color: #fff;
    background: #000;
    opacity: .8;
}

.container .jumbotron{
    padding: 0;
}
/*footer*/
.panel-footer{
    margin-top:30px;
    padding-top:35px;
    padding-bottom:30px;
    background-color: #222;
    color:#fff;
    border-top:0
}
.panel-footer div.row{
    margin-bottom:35px;
}
#hours,#address{
    line-height:2;
}
#hours > span, #address > span{
    font-size:1.3em;
}
#address p{
    color:#557c3e;
    font-size:0.8em;
    line-height:1.8;
}
#testimonials{
    font-style:italic;
    line-height:2;
}
 #links a{
    gap: 2rem;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 50%;
    text-decoration: none;
    font-size: 10px;
    
    
}
 #links span{
    color: #fff;
    text-align: center;

}



/*Large Screens*/
@media (min-width:1200px){
   
}


/*Medium Screens*/
@media (min-width:992px) and (max-width:1199px){
    
}
/*Small Screens*/
@media (min-width:762px) and (max-width:991px){
   
}
/*Extra-small Screens*/
@media (max-width:761px){
    /*Header*/
    .navbar-brand a h1{
        font-size:1em;
        margin-top: 0;
    }
    .navbar-brand a p{
        padding-top: 0.5em;
        margin-top:-10px;
    }
    /*End of Header*/
    /*Footer*/
    .panel-footer section{
        margin-bottom:30px;
        text-align:center;
    }
    .panel-footer section:nth-child(3){
        margin-bottom:0;
    }
    .panel-footer section hr{
        width:100%;
    }
    /*End of footer*/
    }

/*Super Extra-small screens*/
